<header class="header">
   <div class="_container">
      <div class="header__content">
         <div class="header__logo">
            <a href=# class="header__logo-img ">
               <img class="logo__desctop" src="img/logo-desctop.png" alt="logo"></a>
            <div class="header__logo-descr">
               <span class="header__logo-name">MailingGun</span>
               <span class="header__logo-text">Маркетинговое агенство</span>
            </div>
         </div>
         <div class="header__info">
            <span class="header__sity">г. Москва</span>
            <button class="header__btn hiden">СВЯЗАТЬСЯ С НАМИ</button>
            <div class="header__lang">
               <a href="english.html"><img src="img/icons/rusaia.svg" alt="ru"></a>
               <span class="ru">ru</span>
            </div>
         </div>
      </div>

      <div class="header__menu menu">
         <div class="menu__icon icon-menu">
            <span></span>
            <span></span>
            <span></span>
         </div>

         <nav class="menu__body">
            <ul class="menu__list">
               <li><a href="#tabs-block" class="menu__link ">Услуги</a></li>
               <li><a href="#form" class="menu__link ">О нас</a></li>
               <li><a href="#gallery-block" class="menu__link ">Этапы работ</a></li>
               <li><a href="#gallery-block" class="menu__link ">Наши результаты</a></li>
               <li><a href="#gallery-block" class="menu__link ">Контакты</a></li>
               <button class="header__btn menu__btn hiden">СВЯЗАТЬСЯ С НАМИ</button>
            </ul>

         </nav>
      </div>
      <div class="header-hero">
         <div class="header-hero__info">
            <h1 class="header-hero__title"> Клиенты из телеграм уже сегодня</h1>
            <h2 class="header-hero__subtitle">Продвижение ваших услуг и товаров через <br> Telegram позволит привлечь
               новых
               клиентов</h2>
            <button class="header-hero__btn">ПОЛУЧИТЬ ПРЕДЛОЖЕНИЕ</button>
         </div>
         <div class="header-hero__img">
            <img class="header-hero__img_desctop" src="img/hero.png" alt="hero">
            <img class="header-hero__img_mobile" src="img/header__mobile_bg.svg" alt="">
         </div>


      </div>
   </div>
</header>